<!DOCTYPE html>
<!--[if IE]><![endif]-->
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>@ViewData["Title"] - DocFX Razor</title>

    <meta name="viewport" content="width=device-width">
    <meta name="title" content="@ViewData["Title"]">

    <link rel="shortcut icon" href="~/favicon.ico">
    <link rel="stylesheet" href="~/styles/docfx.vendor.css">
    <link rel="stylesheet" href="~/styles/docfx.css">
    <link rel="stylesheet" href="~/styles/main.css">
</head>

<body data-spy="scroll" data-target="#affix">
    <div id="wrapper">
        <div role="main" class="container body-content hide-when-search">
            @Html.Partial("_TOC")

            <div class="article row grid-right">
                <div class="col-md-12">
                    <article class="content wrap" id="_content" data-uid="@ViewData["UID"]">
                        @RenderBody()
                    </article>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="~/styles/docfx.vendor.js"></script>
    <script type="text/javascript" src="~/styles/docfx.js"></script>
    <script type="text/javascript" src="~/styles/main.js"></script>
</body>

</html>